[Desktop Entry]
Name=my-theme

X-KDE-PluginInfo-Author=tycho
X-KDE-PluginInfo-Email=tychobrouwer33@gmail.com
X-KDE-PluginInfo-Name=my-theme
X-KDE-PluginInfo-Version=1.8
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-blur=false
